.tooltip {
    position: fixed;
    width: auto;
    padding: 2px;
    font-size: 10px;
    font-family: sans-serif;
    background: white;
    border-width: 0.1px;
    border: 1px solid #C0C0C0;
    /* border-radius: 5px;			 */
    pointer-events: none;
    text-align: justify;
}

th, td {
    padding-right: 15px;
    padding-top: 2px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

p {
    text-align: center;
    font-weight: bold;
}

/* leyenda */

.legend text {
    font-size: 0.5em;
    fill: black;
    font-family: sans-serif;
}

.legend circle {
    stroke: black;
    stroke-opacity: 0.5;
}

.legendRadius text {
    font-size: 0.6em;
    fill: black;
    font-family: sans-serif;
}

.legendRadius circle {
    stroke: black;
    stroke-opacity: 0.5;
}